.container {
  width: 85%;
  padding: 0 1.5rem;
  margin: 0 auto;
  display: center;
}

.GitFeed {
  text-align: center;
}

.GitFeed-logo {
  -webkit-animation: App-logo-spin infinite 60s linear;
  animation: App-logo-spin infinite 60s linear;
  height: 80px;
  position: absolute;
  left: 30px;
  top: 15px;
}

.GitFeed-header {
  background-color: #222;
  /*height: 150px;*/
  padding: 20px;
  color: white;
}

.GitFeed-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav ul {
  list-style-type: none;
}

.nav-avatar {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 60px;
  border-radius: 3px;
}


/*.card:hover {
  transition-timing-function: cubic-bezier(0.9, 0.61, 0.84, 0.05);
}*/

.circle {
  border-radius: 90px;
}
